// @import "./css/loaders/loader-typing.css";
// @import "./css/theme.css";
// @import "./css/custom.css";
// @import "./css/fonts.css";
// @import "./css/glitch.css";
@import "fragments/home";

// -------------- #vARIABLES

:root {
  //space
  --space: 20px;
  --half-space: calc(var(--space) / 2);
  --double-space: calc(var(--space) * 2);
  --space-lg: calc(var(--space) * 4);
  --space-xl: calc(var(--space) * 8);

  //colors
  --c-dark: black;
  --c-light: #eee;
  --c-accent: #e6007a;
  --c-cyan: #00ffe1;

  --c-paragraph: #ddd;
}

// -------------- #GLOBAL

body {
  background-color: black;
  text-align: center;
  & > div.loader {
    background-color: black;
  }
}

.nav-item {
  &--social {
    margin-top: -2px;
  }
}

section,
.section {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  clear: both;
  padding: 6rem 0;
}

.pd-0 {
  padding: 0;
}

.container {
  display: inline-block;
  margin: auto;
  text-align: left;
  padding: 0 1.5rem;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  a.btn {
    font-size: 0.8rem;
  }
}

#footer {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  z-index: 4;
  color: var(--c-dark);
}

a.btn,
button.btn {
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0;
  border-width: 2px;

  &.btn-outline-primary {
    color: var(--c-accent);
  }
  &.btn-outline-white {
    color: white;
  }

  &:hover {
    &.btn-outline-primary,
    &.btn-outline-white {
      color: var(--c-cyan);
      border-color: var(--c-cyan);
      background-color: transparent;
    }
  }
}

.button-wrap {
  text-align: center;
  display: flex;
  justify-content: center;

  .btn:first-of-type {
    margin: 0 2rem 0 0;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    justify-content: flex-start;

    .btn:first-of-type {
      margin: 0 0 2rem 0;
    }
  }
}

::selection {
  background: var(--c-cyan);
  color: var(--c-accent);
  text-shadow: none;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--c-accent);
  outline: none;
}

.icon.arrow-group {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2243%22%20viewBox%3D%220%200%2040%2043%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Earrow-group%3C%2Ftitle%3E%3Cpath%20d%3D%22M18.75%204.268l-3.677%203.677c-.242.242-.639.24-.885-.007l-.876-.876c-.25-.25-.25-.643-.006-.885l5.81-5.81c.488-.489%201.28-.489%201.768%200l5.81%205.81c.246.245.24.639-.006.885l-.876.876c-.25.25-.642.25-.885.007L21.25%204.268V38.12c0%20.348-.282.629-.63.629h-1.24c-.353%200-.63-.282-.63-.63V4.269zm-13.125%2012.5l-3.677%203.677c-.242.242-.639.24-.885-.007l-.876-.876c-.25-.25-.25-.643-.006-.885l5.81-5.81c.488-.489%201.28-.489%201.768%200l5.81%205.81c.246.245.24.639-.006.885l-.876.876c-.25.25-.642.25-.885.007l-3.677-3.677v25.106c0%20.345-.282.626-.63.626h-1.24c-.353%200-.63-.28-.63-.626V16.768zm26.25%200l-3.677%203.677c-.242.242-.639.24-.885-.007l-.876-.876c-.25-.25-.25-.643-.006-.885l5.81-5.81c.488-.489%201.28-.489%201.768%200l5.81%205.81c.246.245.24.639-.006.885l-.876.876c-.25.25-.642.25-.885.007l-3.677-3.677v25.106c0%20.345-.282.626-.63.626h-1.24c-.353%200-.63-.28-.63-.626V16.768z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
}

.icon.equals {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2221%22%20viewBox%3D%220%200%2040%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eequals%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%200v5.714h40V0H0zm0%2015.238v5.714h40v-5.714H0z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
}

.icon.fast {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Efast%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2020v-.59c0-.328.266-.586.594-.586h1.165c.333%200%20.594.265.594.593V20c0%209.746%207.9%2017.647%2017.647%2017.647h.593c.316%200%20.583.266.583.594v1.165c0%20.333-.265.594-.593.594H20C8.954%2040%200%2031.046%200%2020zm40%200v.586c0%20.323-.266.59-.594.59h-1.165c-.333%200-.594-.265-.594-.593V20c0-9.746-7.9-17.647-17.647-17.647h-.586c-.33%200-.59-.266-.59-.594V.594c0-.333.263-.594.588-.594H20c11.046%200%2020%208.954%2020%2020zm-20%208.235c-4.548%200-8.235-3.687-8.235-8.235s3.687-8.235%208.235-8.235%208.235%203.687%208.235%208.235-3.687%208.235-8.235%208.235z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
}

.icon.life-saver {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Elife-saver%3C%2Ftitle%3E%3Cpath%20d%3D%22M34.18%2011.626l-1.003.594c-.287.17-.65.08-.822-.196%200%200%20.011.009-.149-.23-1.074-1.594-2.453-2.967-4.053-4.035-.221-.147-.171-.111-.171-.111-.276-.173-.369-.543-.202-.825l.594-1.003c.17-.286.525-.373.8-.203%200%200-.072-.05.137.087%201.944%201.269%203.613%202.923%204.9%204.855.166.25.17.264.17.264.172.278.08.636-.201.803zM20%208.236c-2.274%200-4.118-1.844-4.118-4.118S17.726%200%2020%200s4.118%201.844%204.118%204.118S22.274%208.235%2020%208.235zM20%2040c-2.274%200-4.118-1.844-4.118-4.118s1.844-4.117%204.118-4.117%204.118%201.843%204.118%204.117S22.274%2040%2020%2040zM4.118%2024.118C1.844%2024.118%200%2022.274%200%2020s1.844-4.118%204.118-4.118S8.235%2017.726%208.235%2020s-1.843%204.118-4.117%204.118zm31.764%200c-2.274%200-4.117-1.844-4.117-4.118s1.843-4.118%204.117-4.118S40%2017.726%2040%2020s-1.844%204.118-4.118%204.118zM28.374%2034.18l-.594-1.003c-.17-.287-.079-.651.197-.824%200%200%20.05-.024.315-.206%201.537-1.052%202.865-2.388%203.908-3.932.162-.241.155-.24.155-.24.174-.275.54-.362.822-.195l1.003.594c.286.17.373.524.202.799%200%200-.025.049-.202.314-1.248%201.862-2.853%203.464-4.717%204.709-.258.172-.289.186-.289.186-.276.172-.633.08-.8-.202zM5.82%2028.374l1.003-.594c.287-.17.651-.078.824.199%200%200%20.008.022.18.276%201.043%201.534%202.369%202.861%203.901%203.906.26.176.3.195.3.195.27.17.359.539.192.82l-.594%201.004c-.17.286-.526.372-.802.2%200%200-.04-.02-.302-.195-1.894-1.267-3.52-2.904-4.774-4.807-.152-.23-.128-.2-.128-.2-.173-.278-.082-.637.2-.804zM11.626%205.82l.594%201.003c.17.287.08.65-.193.82%200%200-.006-.002-.249.162-1.549%201.047-2.887%202.38-3.94%203.925-.176.258-.195.298-.195.298-.17.27-.538.359-.82.192l-1.003-.594c-.286-.17-.37-.528-.198-.806%200%200%20.009-.023.18-.279%201.255-1.88%202.873-3.497%204.755-4.75.25-.167.265-.17.265-.17.278-.174.637-.083.804.2z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
}

.icon.node {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2241%22%20viewBox%3D%220%200%2040%2041%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Enode%3C%2Ftitle%3E%3Cpath%20d%3D%22M36.782%2017.356c-1.621%200-2.959%201.035-3.182%202.874h-8.772c0-1.38-.285-1.935-.773-2.665l7.273-7.331c.265.106.552.14.855.14%201.27%200%202.3-1.044%202.3-2.313%200-1.27-1.03-2.307-2.3-2.307-1.27%200-2.298%201.026-2.298%202.296%200%20.592.23%201.125.598%201.533l-7.089%207.088c-.72-.684-1.659-1.141-2.704-1.245V6.63c1.559-.224%202.758-1.56%202.758-3.182%200-1.777-1.44-3.218-3.218-3.218S17.01%201.67%2017.01%203.448c0%201.621%201.2%202.958%202.76%203.182v8.795c-.982.098-1.87.507-2.572%201.124l-6.86-6.86c.428-.417.695-.998.695-1.643%200-1.27-1.028-2.299-2.298-2.299s-2.3%201.03-2.3%202.299c0%201.27%201.03%202.299%202.3%202.299.284%200%20.554-.059.806-.153l7.03%207.145c-.587.772-.94%201.514-.94%202.893H6.4c-.223-1.84-1.56-2.874-3.182-2.874C1.441%2017.356%200%2018.74%200%2020.517c0%201.778%201.44%203.305%203.218%203.305%201.622%200%202.959-1.293%203.182-2.673h9.324c.175.46.593%201.518%201.176%202.13l-6.63%206.572c-.407-.368-.942-.627-1.534-.627-1.27%200-2.3%201.015-2.3%202.285%200%201.27%201.03%202.291%202.3%202.291%201.27%200%202.298-1.032%202.298-2.302%200-.303-.062-.593-.168-.857l6.814-6.815c.61.408%201.322.672%202.09.749v9.255c-1.559.223-2.759%201.561-2.759%203.182%200%201.778%201.441%203.218%203.219%203.218%201.777%200%203.218-1.44%203.218-3.218%200-1.62-1.2-2.959-2.758-3.182v-9.255c.867-.087%201.66-.417%202.318-.917l7.03%207.03c-.095.252-.153.522-.153.806%200%201.27%201.029%202.3%202.299%202.3s2.299-1.03%202.299-2.3c0-1.27-1.03-2.299-2.3-2.299-.644%200-1.225.268-1.642.695l-6.86-6.744c.519-.59.892-1.537%201.054-1.997H33.6c.223%201.38%201.56%202.644%203.182%202.644%201.777%200%203.218-1.44%203.218-3.218s-1.44-3.219-3.218-3.219z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
}

.icon.technology {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2241%22%20viewBox%3D%220%200%2042%2041%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Etechnology%3C%2Ftitle%3E%3Cpath%20d%3D%22M25.725%201.006c.036.001.066.005.095.011l.024.006c.024.006.047.014.07.024l.02.01c.022.01.042.021.062.035l.032.023c.009.006.016.013.024.02l8.21%207.269c.362-.267.81-.425%201.295-.425%201.207%200%202.185.979%202.185%202.186%200%20.802-.432%201.504-1.077%201.884l4.917%2015.618c.049.155.021.325-.075.456-.097.132-.25.21-.414.21l-14.606-.001-4.552%208.538c.413.368.686.89.727%201.477l.006.156c0%201.207-.979%202.185-2.185%202.185-1.207%200-2.185-.978-2.185-2.185l.003.116-11.306-2.096c-.32.718-1.017%201.23-1.84%201.289L5%2037.817c-1.207%200-2.185-.978-2.185-2.185%200-.812.442-1.52%201.1-1.897L1.02%2023.777l-.006-.02c-.004-.017-.008-.035-.01-.052l.016.072c-.012-.04-.019-.081-.02-.122v-.036c0-.018.001-.037.004-.055l.003-.022%202.154-11.759c.034-.187.17-.34.351-.397.182-.057.381-.008.515.127l4.438%204.437c.348-.233.766-.37%201.217-.37.568%200%201.085.217%201.473.571l2.994-2.127-3.481-9.77c-.016-.045-.026-.09-.029-.135-.006-.076.006-.151.033-.22l.016-.038c.019-.039.042-.076.07-.109l.034-.036c.03-.03.064-.056.102-.078.028-.015.055-.028.083-.038h.001l.022-.008c.02-.006.04-.01.061-.015l14.561-2.563c.04-.007.07-.009.102-.008zM17.98%2029.274L7.115%2035.082c.045.176.07.36.07.55l-.005-.118%2011.307%202.097c.25-.557.726-.991%201.312-1.184l-.527-6.447c-.511-.08-.963-.337-1.293-.706zm7.345-.942l-3.588.001c-.177.737-.728%201.33-1.441%201.564l.526%206.447c.07.01.14.025.21.043l4.293-8.055zm-11.132-5.205L6.623%2034.169l.008.01%2010.865-5.809c-.046-.176-.07-.36-.07-.55%200-.417.117-.807.32-1.139l-3.554-3.554zm-5.903-3.68l-6.182%204.394%202.792%209.608.1-.003c.274%200%20.537.05.779.143l7.677-11.2-2.713-2.712c-.27.15-.577.245-.903.268l-.156.005c-.53%200-1.016-.188-1.394-.502zm24.868-5.805L21.418%2026.59c.147.215.256.457.318.717h4.134l7.287-13.666zm1.885-1.353l-8.009%2015.019h13.361l-4.71-14.963-.127.005c-.178%200-.35-.02-.515-.06zm-9.03-3.931c-.28.698-.91%201.217-1.671%201.343l-3.75%2016.166.068.035%2013.118-14.468c-.256-.358-.406-.796-.406-1.27l.001.049zm-9.713%2011.696l-1.517%202.212%203.582%203.582-2.065-5.794zm6.934-10.115l-6.218%209.07%202.366%206.638.074-.007.136-.004%203.642-15.697zm-19.238%202.99l-1.75%209.556%205.43-3.858c-.095-.22-.154-.457-.171-.706l-.006-.156c0-.384.1-.746.274-1.06L3.995%2012.93zm10.513%202.099l-2.777%201.974c.089.238.137.495.137.763%200%20.45-.136.869-.37%201.217l2.547%202.547%201.83-2.668-1.367-3.833zm7.785-5.532l-6.917%204.915%201.214%203.405%205.703-8.32zM11.956%204.813l3.062%208.593%206.975-4.955c-.106-.231-.172-.484-.19-.75l-.006-.156c0-.083.005-.166.014-.247l-9.855-2.485zm14.06-2.34l-.764%203.293c.502.359.845.923.906%201.57L33.59%209.21l.011-.022-7.585-6.715zm-.978-.315L13.603%204.171l8.562%202.16c.392-.586%201.06-.972%201.817-.972.105%200%20.207.008.308.022l.748-3.223z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%22.6%22%2F%3E%3C%2Fsvg%3E");
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.modal-dialog {
  .hs-error-msgs {
    font-size: 0.75rem;
    margin: 10px 0;
    color: var(--c-accent);
  }

  .hs_email {
    margin-bottom: 20px;

    input {
      display: block;
      border: 2px solid var(--c-light);
      border-radius: 0.2rem;
      width: 100%;
      height: 60px;
      padding: 0.4375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: #fff;
      background-clip: padding-box;
      color: var(--c-dark);
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      line-height: 1.2;

      input {
        margin-right: 10px;
      }
    }

    li.hs-form-checkbox,
    li.hs-form-booleancheckbox {
      cursor: pointer;

      * {
        cursor: pointer;
      }
    }
  }

  @media (min-width: 576px) {
    max-width: 620px;
    margin: 1.75rem auto;
  }

  .legal-consent-container {
    font-size: 0.75rem;
  }

  .hs-submit {
    input {
      color: white;
      border: none;
      background: var(--c-accent);
      padding: 10px;
      font-weight: bold;
    }
  }
}

.header-banner {
  &.is-hidden {
    display: none;
  }
}

.hackusama {
  display: block;
  position: relative;
  overflow: hidden;
  height: 20vw;
  width: 100%;

  @media (min-width: 768px) {
    max-height: 60px;
  }

  .hackusama-bg {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: auto;
  }

  .hackusama-logo {
    position: relative;
    display: block;
    width: 50vw;
    margin: 0 auto;

    @media (min-width: 768px) {
      position: absolute;
      transform: translateY(-50%);
      right: 10vw;
      width: 27vw;
      max-width: 300px;
      top: 50%;
    }
  }

  .hackusama-title {
    position: relative;
    color: white;
    text-align: center;

    @media (min-width: 768px) {
      position: absolute;
      transform: translateY(-50%);
      left: 4vw;
      top: 50%;
      font-weight: bold;
    }
  }

  &:hover {
    .hackusama-logo {
      transform: translateY(-50%) scale(1.04);
    }
  }
}

.display-6 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.step-icon {
  max-width: 160px;
  position: relative;

  &__number {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 47%;
  }
}
