.badge-light,
.badge-light[href],
.badge-light {
  color: white;
  background-color: transparent;

  &:hover,
  &:focus {
    background: $primary;
    color: white;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 15px;
  font-weight: $font-weight-regular;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  background-color: transparent;
  border: solid 1px $primary;
  color: $primary;
  transition: all 0.2s ease, border 1ms ease;
  will-change: transform;
  transform: scale(0.999);

  &:hover {
    background: $primary;
    color: white;
    transform: scale(1.05);
  }
}
