.hbspt-form {
  .hs-form {
    position: relative;
  }

  .hs-fieldtype-text,
  .hs-fieldtype-select,
  .hs-fieldtype-textarea {
    @extend .form-group;

    & > label {
      display: none;
    }

    .hs-form-container--labels & > label {
      display: block;
    }

    .input {
      @extend .input-group, .input-group-lg;

      @media (min-width: 768px) {
        width: 100%;
      }
    }

    input,
    select,
    textarea {
      @extend .form-control, .form-end, .mb-2;
    }

    select,
    textarea {
      border-radius: 0.5rem !important;
    }

    textarea:not(#build_landing_page_other_developer_interest-5203b0a1-7958-47b6-98f3-b1fbc76e6f68) {
      min-height: 300px;
    }
  }

  .submitted-message {
    @extend .text-center;
    @extend .text-primary;
    // @extend .font-weight-bold;
  }

  .legal-consent-container {
    @extend .mt-3, .mb-2;
  }

  .hs-richtext {
    @extend .small, .mx-auto, .mb-4;
    max-width: 600px;
    text-align: left;

    p {
      @extend .text-secondary;
    }
  }

  .hs-error-msg,
  .hs-error-msgs {
    @extend .text-primary, .text-primary, .small, .mb-2;

    list-style: none;
    text-align: center;
    padding-left: 0;

    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  ul.inputs-list {
    list-style: none;
    padding-left: 0;

    li > label {
      position: relative;
    }

    li > label > input {
      position: absolute;
      top: 6px;
    }

    li > label > span {
      margin-left: 25px;
    }
  }

  .hs_submit {
    text-align: center;

    input {
      @extend .btn, .btn-lg, .btn-primary;

      width: 200px;
    }
  }

  .hs-recaptcha {
    @extend .mb-4;
  }
}

.hs-form-container-email {
  .hs_email {
    .input {
      @media (min-width: 768px) {
        width: calc(100% - 220px);
      }
    }

    input {
      height: 58px !important;
      padding-left: 30px !important;
    }
  }

  .hs-error-msgs {
    @media (min-width: 768px) {
      margin-bottom: 0;
      padding-left: 30px;
      text-align: left;
    }
  }

  .hs_submit {
    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.path_\/contact .hbspt-form {
  min-height: 100vh;

  .hs-richtext {
    max-width: none;
  }
}
