.icon-teams {
  transition: 0.3s;
  opacity: 0.8;
  height: 5rem !important;

  .bg-primary & {
    opacity: 1;
  }
}

.icon-teams:hover {
  opacity: 1;
}

.icon-circle-wrapper {
  width: 8rem;
  height: 8rem;
  border: solid 2px $secondary-lighter;
  background: none;
  border-radius: 50%;
  position: relative;

  .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 4em;
  }
}

.icon-square-wrapper {
  width: 7rem;
  height: 7rem;
  position: relative;

  .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 7em;
  }

  @media (min-width: 768px) {
    width: 5.4rem;
    height: 5.4rem;

    .icon {
      height: 5.4em;
    }
  }
}

.icon-press {
  max-width: 140px;
  opacity: 1;
  transition: 0.3s;
}

.icon-press:hover {
  opacity: 0.7;
}

#network-glossary {
  .icon.icon-diagram {
    width: 12rem;
    height: auto;

    @media (min-width: 768px) {
      width: 8rem;
    }
  }
}
