body {
    background-image: url('../images/nft_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    background: radial-gradient(transparent, rgba(0,0,0,0.4));
}