.card {
    background-color: #000;
    border: none;
    border-radius: 0;
}

.card-body {
    padding: 2rem;
}

.card-footer {
    padding: 1.5rem 2rem;
    font-size: 0.75rem;
    color: $secondary-darker;
}

.back-arrow {
    position: absolute;
    left: 0;
    top: 1rem;
    color: $secondary-darker;
    cursor: pointer;

    &:hover {
        color: $secondary;
    }
}

.divider {
    color: $secondary;

    .border-top {
        border-top-color: $gray-800 !important;
    }
}