footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFF;
    font-size: 0.75rem;

    a {
        color: #FFF;
    }
}

footer.bg-dark {
    background: transparent;
}