@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&family=Space+Mono&display=swap');

$font-body: 'Space Mono', sans-serif !important;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

body {
    font-family: $font-body;
    color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Space Grotesk', sans-serif !important;
  font-weight: $font-weight-bold;
  letter-spacing: -0.04em;
}

.card-header-title {
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: $font-weight-bold;
    font-size: 1.75rem;
    color: $secondary-lighter;

    @media (min-width: 576px) {
      font-size: 2.5rem;
    }
}

.about-heading {
  font-size: 1.75rem;

  @media (min-width: 576px) {
    font-size: 2.5rem;
  }

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

a {
  color: $primary;

  &:hover {
    color: $cyan;
    text-decoration: none;
  }
}