.back-arrow {
    position: absolute;
    left: 0;
    top: 0.75rem;
    color: $secondary-lighter;
    cursor: pointer;

    &:hover {
        color: $secondary;
    }
}

$card-border-radius: 20px;

.card {
  border: none !important;
}

.card-body {
  padding: 2rem !important;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 1rem !important;
  font-size: 14px;
  border-top-color: #d5dbe0 !important;
}

.card-header-title {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .card-header-title {
    font-size: 2.5rem;
  }
}