.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px 48px;
    color: #FFF;

    @media (min-width: 0px) {
        font-size: 0.875rem;
    }

    @media (min-width: 768px) {
        font-size: 0.75rem; 
    }

    a {
        color: #FFF;
    }
}

.footer.dark {
    color: $black;

    a {
        color: $black;
    }
}