.input-warning {
    border-color: #FF7F66;
    box-shadow: 0 0 0 0.2rem rgba(238, 93, 65, 0.25) !important;
}

.input-danger,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #ff67b7;
    box-shadow: 0 0 0 0.2rem rgba(230, 0, 122, 0.25) !important;
}