.landingpage {
    width: 600px;

    .card-header-title {
        color: #fff;
        font-size: 3.5rem;
    }

    .text-card {
        color: #fff;
    }

    .btn-primary {
        background-color: #fff;
        border: solid 1px #fff;

        &:hover {
            background-color: transparent;
            border: solid 1px transparent;
        }
    }

    .btn-link {
        color: #fff;
        font-weight: 400;
    }

    a {
        color: #fff;
    }
}