#policy-page {
    background-color: #fff;
}

#policy-container {
    max-width: 736px;
    margin: auto;

    @media screen and (max-width: 768px) {
        margin: 0 1rem;
    }
}

privacy-policy {
    a {
        word-break: break-word;
    }
}

/* header of the policy */
privacy-policy-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 0;
    align-items: center;
}
/* title of the policy */
privacy-policy-header-title {
    font-size: 1.8rem;
    font-weight: 400;
}
@media (min-width: 40rem) {
    privacy-policy-header-title {
        font-size: 3.5rem;
    }
}
/* updated date of the policy */
privacy-policy-updated-date {
    display: flex;
    color: $secondary;
    font-size: 0.875rem;

    @media (min-width: 40rem) {
        font-size: 1.125rem;
    }
}

/* vertical display */
privacy-policy,
privacy-policy-list {
    display: flex;
    flex-direction: column;
}

/* lists of sections */
privacy-policy-list {
    padding-top: 1rem;
}

/* lists, grand-children of lists */
privacy-policy-list privacy-policy-list {
    padding-left: 1rem;
}
@media (min-width: 40rem) {
    privacy-policy-list privacy-policy-list {
        padding-left: 2.2rem;
    }
}

/* a content section, with: a number, a letter, nothing */
privacy-policy-section {
    padding-bottom: 2rem;
    font-size: 0.875rem;

    @media (min-width: 40rem) {
        font-size: 1rem;
    }
}

/* section title */
privacy-policy-section-title {
    font-size: 1.75rem;
    font-weight: 700;
    padding-left: 1rem;
}
@media (min-width: 40rem) {
    privacy-policy-section-title {
        font-size: 2rem;
    }
}

/* a section number */
privacy-policy-section-number {
    display: block;
    font-size: 1.75rem;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 0.5rem;

    @media (min-width: 40rem) {
        font-size: 2rem;   
    }
}

privacy-policy > privacy-policy-list > privacy-policy-section > privacy-policy-section-number {
    display: inline-block;
} 