// Colors
// ---------

$primary: #e6007a;
$primary-darker: #c40061;
$primary-lighter: #ff4da0;
$primary-highlight: #ffe6f4;

$secondary: #6C757D;
$secondary-lighter: #9CA3AF;
$secondary-darker: #172026;

$black: #1e1e1e;
$gray: #efefef;
$white: #fff;

$gray-100: #F9FAFB;