// Colors
// ---------

$primary: #e6007a;
$primary-darker: #c40061;
$primary-lighter: #ff4da0;
$primary-highlight: #ffe6f4;

$secondary: #6d7278;
$secondary-lighter: #b7b8bb;
$secondary-darker: #172026;

$black: #1e1e1e;
$gray: #efefef;
$white: #fff;
