// Custom.scss

$gray-100: #f9fafb;
$gray-200: #f0f2f5;
$gray-300: #d5dbe0;
$gray-600: #6c757d;
$gray-800: #333;
$gray-900: #1e1e1e;

// Navbar
.navbar-nav {
  border-radius: 2rem;
  font-weight: 500;
}
.nav-pills {
  z-index: 10;
  background-color: #fff;
}
$nav-pills-border-radius: 1.5rem !important;
$nav-pills-link-active-color: $gray-900 !important;
$nav-pills-link-active-bg: $gray-300 !important;

//$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: $gray-600;
$navbar-dark-hover-color: $gray-900;

@import '~bootstrap/scss/bootstrap';
@import 'kusama-scss/variables';

@import 'kusama-scss/bg';
@import 'kusama-scss/card';
@import 'kusama-scss/typography';
@import 'kusama-scss/button';
@import 'kusama-scss/forms';
@import 'kusama-scss/footer';
@import 'kusama-scss/header';
@import 'kusama-scss/seedphrase';
@import 'kusama-scss/modal';
@import 'kusama-scss/select';
@import 'kusama-scss/privacypolicy';
@import 'kusama-scss/about';
@import 'kusama-scss/landingpage';
