// Custom.scss

@import '~bootstrap/scss/bootstrap';
@import 'kusama-scss/variables';

@import 'kusama-scss/bg';
@import 'kusama-scss/card';
@import 'kusama-scss/typography';
@import 'kusama-scss/button';
@import 'kusama-scss/forms';
@import 'kusama-scss/footer';
@import 'kusama-scss/header';
@import 'kusama-scss/seedphrase';
@import 'kusama-scss/modal';
@import 'kusama-scss/select';
@import 'kusama-scss/privacypolicy';
@import 'kusama-scss/about';