// Custom.scss
/* @import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss'; */

// set font family
$font-family-base: 'Work Sans', sans-serif;

// Balance Text
.balance-text {
  font-size: 0.85rem !important;
  color: #757575 !important;
}

// Button
$btn-border-radius: 1.5rem;
$btn-border-radius-lg: 2rem;
$btn-border-radius-sm: 1.5rem;

.card-button {
  display: inline-flex !important;
  align-items: center !important;
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 8px !important;
  border-color: #d5dbe0 !important;
  color: #1e1e1e !important;
  padding: 0.75rem !important;
  text-align: left !important;
}

.card-button:hover {
  background-color: #f9fafb !important;
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.1);
}

.checkbox-button {
  display: inline-flex !important;
  align-items: center !important;
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 8px !important;
  border-color: #d5dbe0 !important;
  color: #1e1e1e !important;
  padding: 0.75rem !important;
  text-align: left !important;
}

.checkbox-button:hover {
  background-color: #f9fafb !important;
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.1);
}

.link-button:focus {
  box-shadow: none !important;
}

// Card
$card-border-radius: 20px;

.card-body {
  padding: 2rem !important;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 1rem !important;
  font-size: 14px;
}

// Set booststrap custom theme
$theme-colors: (
  'primary': #e6007a,
);

$gray-100: #f9fafb;
$gray-300: #d5dbe0;
$gray-600: #6c757d;
$gray-900: #1e1e1e;

// Fonts
.text-large {
  font-size: 1.25rem;
}

// Form
.form-label {
  font-weight: 600;
  margin-left: 0.5rem;
}

$form-group-margin-bottom: 2rem;

$input-border-radius: 0.5rem;
$input-border-color: $gray-300;
$input--color: $gray-900;
$input-height: 2.5rem;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Footer
/* @include media-breakpoint-between(xs, sm) {
  footer {
    flex-direction: column !important;
    gap: 12px;
  }

  .footer-grow {
    display: none;
  }
}

@include media-breakpoint-between(md, xxl) {
  footer {
    flex-direction: row !important;
  }
} */

// headings
$headings-font-weight: bold;
$h2-font-size: 2.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

// Navbar
$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #fff;

// Radii
$border-radius: 0.5rem;

// import should be at the end
@import '~bootstrap/scss/bootstrap';
