// Custom.scss

// set font family
$font-family-base: 'Work Sans', sans-serif;

// Button
$btn-border-radius: 1.5rem;
$btn-border-radius-lg: 2rem;
$btn-border-radius-sm: 1.5rem;

.card-button {
  display: inline-flex !important;
  align-items: center !important;
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 8px !important;
  border-color: #d5dbe0 !important;
  color: #1e1e1e !important;
  padding: 0.75rem !important;
  text-align: left !important;
}

.card-button:hover {
  background-color: #f9fafb !important;
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.1);
}

.text-button {
  padding: 0.75rem !important;
  cursor: pointer;
}

.text-button:hover {
  color: #c40061 !important;
}

.link-button:hover {
  color: #c40061 !important;
}

.link-button:focus {
  box-shadow: none !important;
}

// Card
$card-border-radius: 20px;

.card {
  border: none !important;
}

.card-body {
  padding: 1.5rem !important;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 1rem !important;
  font-size: 14px;
  border-top-color: #d5dbe0 !important;
}

.card-header-title {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .card-header-title {
    font-size: 2.5rem;
  }
}

// Set booststrap custom theme
$theme-colors: (
  'primary': #e6007a,
);

$gray-100: #f9fafb;
$gray-200: #f0f2f5;
$gray-300: #d5dbe0;
$gray-600: #6c757d;
$gray-900: #1e1e1e;

// Fonts
.text-card {
  font-size: 1.125rem;
  color: $gray-600;
}

.text-large {
  font-size: 1.25rem;
}

.step-text {
  font-size: 1.125rem;
}

// Form
.form-label {
  font-weight: 600;
  margin-left: 0.5rem;
}

$form-group-margin-bottom: 2rem;

$input-border-radius: 0.5rem;
$input-border-color: $gray-300;
$input--color: $gray-900;
$input-height: 2.5rem;

// headings
$headings-font-weight: bold;
$h2-font-size: 2.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

// Navbar
.navbar-nav {
  border-radius: 2rem;
  font-weight: 500;
}

.navbar {
  .dropdown-toggle::after {
    content: none;
  }

  #dropdownMenuButton {
    background-color: #fff !important;
    border: none;
    color: $gray-600;
    transition: none;
    transform: none;

    &:before,
    &:hover {
      background-color: $gray-100;
      color: $gray-900;
      border: none;
      transition: none;
      transform: none;
    }
  }

  .dropdown-menu {
    border: none;

    .dropdown-item {
      color: $gray-600;
    }

    .dropdown-item:hover,
    .dropdown-item:hover {
      background-color: $gray-100;
      color: $gray-900 !important;
    }
  }
}

.nav-pills {
  background-color: #fff;
}
$nav-pills-border-radius: 1.5rem !important;
$nav-pills-link-active-color: $gray-900 !important;
$nav-pills-link-active-bg: $gray-200 !important;

$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: $gray-600;
$navbar-dark-hover-color: $gray-900;

// Radii
$border-radius: 0.5rem;

.image-box {
  max-height: 3rem;
  height: auto;
  max-width: 90%;
  width: auto;
  transition: transform 0.2s;
}

.image-box:hover {
  transform: scale(1.25);
}

.overlay-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

// import should be at the end
@import '~bootstrap/scss/bootstrap';
@import 'polkadot-scss/variables';
@import 'polkadot-scss/bg';
@import 'polkadot-scss/button';
@import 'polkadot-scss/card';
@import 'polkadot-scss/footer';
@import 'polkadot-scss/seedphrase';
@import 'polkadot-scss/select';
@import 'polkadot-scss/privacypolicy';
