#klaro {
  .cookie-notice {
    z-index: 9999;
    background: $black;

    @media (min-width: 990px) {
      border-radius: 15px;
      bottom: 16px;
      right: 16px;
    }

    a {
      color: $primary !important;
    }

    button {
      border-radius: 10px;
      background: $primary;
      margin-bottom: 2px;

      &.cn-decline {
        background: $primary-darker;
      }
    }
  }

  .cookie-modal {
    z-index: 999999;

    .slider {
      padding-top: 0;
      min-height: auto;
      visibility: visible;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
        5px 5px 10px 0 rgba(0, 0, 0, 0.19) !important;
    }

    input {
      outline: none;
      background: none;
      box-shadow: none;

      &:focus {
        outline: none;
        background: none;
        box-shadow: none;
      }
    }

    .cm-modal {
      background: $black;

      @media (min-width: 990px) {
        border-radius: 2rem;
        padding: 2rem 3rem;
      }

      .cm-btn {
        border-radius: 10px;
      }
    }

    .cm-header {
      a {
        color: $primary !important;
      }
    }

    @media (min-width: 990px) {
      .cm-header {
        padding-left: 0;
        padding-top: 0;
      }

      .cm-body {
        padding-left: 0;
      }

      .cm-footer {
        padding-left: 0;
      }

      .cm-powered-by {
        right: 3rem;
      }
    }
  }

  .cm-toggle-all {
    display: none !important;
  }
}
