.notification {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  animation: fadeDown 0.2s forwards linear;

  &.is-visible {
    animation: fadeIn 0.1s forwards ease-in-out;
    display: block;
  }
}

.notification-button {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
    will-change: transform;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
